<?xml version='1.0'?>

<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description" textfile="$(find diff)/urdf/main.urdf.xacro" /> 

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model diff" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="Rsp" output="screen" />

</launch>
