<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find diff)/urdf/main.urdf.xacro"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args=""/>


    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model explorer_bot" />  -->
<!--
   	<group ns="camera1">
        <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
            args="0 1.5 1.5 0 3.141592654 0.785398163 map camera1 10" />
        <node name="camera_info" pkg="rostopic" type="rostopic"
            args="pub camera_info sensor_msgs/CameraInfo
           '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera1'},
            height: 480, width: 640, distortion_model: 'plumb_bob',
            D: [0],
            K: [500.0, 0.0, 320, 0.0, 500.0, 240.0, 0.0, 0.0, 1.0],
            R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
            P: [500.0, 0.0, 320, 0.0, 0.0, 500, 240, 0.0, 0.0, 0.0, 1.0, 0.0],
            binning_x: 0, binning_y: 0,
            roi: {x_offset: 0, y_offset: 0, height: 480, width: 640, do_rectify: false}}' -r 2"
            output="screen"/>
      </group> 

	  <node pkg="image_transport"
			type="republish"
			name="republish_image"
			output="screen"
			args="raw in:=/image_view/output
			compressed out:=/kamera1/compressed/image"></node>-->

</launch>
